* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  position: relative;
  
}
.circle {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  max-width: 784px;
}
